<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/web_defaultapp.css" type="text/css">
    <link rel="stylesheet" href="/css/web_defaultprint.css" type="text/css" media="print">
    <title>Add/Drop/Withdraw Classes: </title>
    <meta http-equiv="Content-Script-Type" name="Default_Script_Language" content="text/javascript">
    <script language="JavaScript" type="text/javascript">
    <!-- Hide JavaScript from older browsers 
    window.onunload = function() {submitcount=0;}
    var submitcount=0;
    function checkSubmit() {
    if (submitcount == 0)
       {
       submitcount++;
       return true;
       }
    else
       {
    alert("Your changes have already been submitted.");
       return false;
       }
    }
    //  End script hiding -->
    </script>
    <script language="JavaScript" type="text/javascript">
    <!-- Hide JavaScript from older browsers 
    //  Function to open a window
    function windowOpen(window_url) {
       helpWin = window.open(window_url,'','toolbar=yes,status=no,scrollbars=yes,menubar=yes,resizable=yes,directories=no,location=no,width=350,height=400');
       if (document.images) { 
           if (helpWin) helpWin.focus()
       }
    }
    //  End script hiding -->
    </script>
    </head>
    <body>
    <div class="headerwrapperdiv">
    <div class="pageheaderdiv1">
    <a href="#main_content" onmouseover="window.status='Go to Main Content'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Go to Main Content'; return true" onblur="window.status=''; return true" class="skiplinks">Go to Main Content</a>
    <h1>Student/Faculty Information System (SIS)</h1></div><div class="headerlinksdiv">
    <span class="pageheaderlinks2">
    <map name="Module_Navigation_Links_H" title="Module Navigation Links">
    <p>
    <a href="#skip_Module_Navigation_Links_H" onmouseover="window.status='Skip Module Navigation Links'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Skip Module Navigation Links'; return true" onblur="window.status=''; return true" class="skiplinks">Skip Module Navigation Links</a>
    <table class="plaintable" summary="This is main table for displaying Tab Items." width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
    <td class="pldefault">
    <table class="plaintable" summary="This table displays Tab Items." cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
    <td class="tabon" height="22">
    <a href="/pls/owa_prod/twbkwbis.P_GenMenu?name=bmenu.P_StuMainMnu" onmouseover="window.status='Student and Financial Aid'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Student and Financial Aid'; return true" onblur="window.status=''; return true">Student </a>
    </td>
    <td class="bgtabon" height="22" valign="top" align="right">
    <img src="/wtlgifs/web_tab_corner_right.gif" alt="Tab Corner Right" class="headerImg" title="Tab Corner Right" name="web_tab_corner_right" hspace="0" vspace="0" border="0" height="20" width="8">
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    <tr>
    <td class="bgtabon" width="100%" colspan="2"><img src="/wtlgifs/web_transparent.gif" alt="Transparent Image" class="headerImg" title="Transparent Image" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td></tr></tbody></table>
    
    
    <a name="skip_Module_Navigation_Links_H"></a>
    </p></map></span></div>
    <table class="plaintable" summary="This table displays Menu Items and Banner Search textbox." width="100%">
    <tbody><tr>
    <td class="pldefault"><p class="rightaligntext" p="">
    <span class="pageheaderlinks">
    <a href="/pls/owa_prod/twbkwbis.P_GenMenu?name=bmenu.P_RegMnu" class="submenulinktext2" id="ssbbackurl">RETURN TO MENU</a>
    |
    <a href="/pls/owa_prod/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_StuMainMnu&amp;depth_in=2&amp;columns_in=3" accesskey="2" class="submenulinktext2">SITE MAP</a>
    |
    <a href="/stuhelp/hwshfadd.htm" accesskey="H" onclick="popup = window.open('/stuhelp/hwshfadd.htm', 'PopupPage','height=500,width=450,scrollbars=yes,resizable=yes'); return false" target="_blank" onmouseover="window.status='';  return true" onmouseout="window.status=''; return true" onfocus="window.status='';  return true" onblur="window.status=''; return true" class="submenulinktext2">HELP</a>
    |
    <a href="twbkwbis.P_Logout" accesskey="3" class="submenulinktext2">EXIT</a>
    </span>
    </p></td>
    </tr>
    </tbody></table>
    </div>
    <div class="pagetitlediv">
    <table class="plaintable" summary="This table displays title and static header displays." width="100%">
    <tbody><tr>
    <td class="pldefault">
    <h2>Add/Drop/Withdraw Classes: </h2>
    </td>
    <td class="pldefault">
    &nbsp;
    </td>
    </tr>
    <tr>
    <td class="bg3" width="100%" colspan="3"><img src="/wtlgifs/web_transparent.gif" alt="Transparent Image" class="headerImg" title="Transparent Image" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td>
    </tr>
    </tbody></table>
    <a name="main_content"></a>
    </div>
    <div class="pagebodydiv">
    <!--  ** END OF twbkwbis.P_OpenDoc ** bwskfreg.P_AddDropCrse -->
    <br>
    <form action="/pls/owa_prod/bwckcoms.P_Regs" method="post" onsubmit="return checkSubmit()">
    <div class="infotextdiv"><table class="infotexttable" summary="This layout table contains information that may be helpful in understanding the content and functionality of this page.  It could be a brief set of instructions, a description of error messages, or other special information."><tbody><tr><td class="indefault"><span class="infotext"> <!--<p>Students who are rebuilding their Fall or Spring schedules should <b>not</b> drop all their courses at once as the registration system will interpret this as a desire to withdraw from the University.  One course needs to remain on your schedule at all times.  Once a new course is successfully added then it is OK to drop the final course remaining from the original schedule.</p>-->
    <p>For questions on how to add or drop courses please click <a href="https://www.uvm.edu/~rgweb/zoo/addDropInfo.html#addDrop1" alt="how to add or drop courses" target="_blank"><strong>here</strong></a>.</p>
    <p>If you are interested in taking a foreign language course, please review the different <a href="https://www.uvm.edu/~rgweb/zoo/addDropInfo.html#addDrop2" alt="foreign language placement test information" target="_blank"><strong>placement test requirements</strong></a>.</p>
    <p>For information about withdrawing from a course please click <a href="https://www.uvm.edu/~rgweb/zoo/addDropInfo.html#addDrop3" alt="how to withdraw from a course" target="_blank"><strong>here</strong></a>.</p>
    <p><strong>WITHDRAWAL DATES FOR SUMMER COURSES VARY!</strong> Click <a href="https://www.uvm.edu/~summer/students/add-drop/" alt="summer withdrawal dates" target="_blank"><strong>here</strong></a> for specific dates.</p></span></td></tr></tbody></table><p></p></div>
    <input type="hidden" name="term_in" value="202501">
    <input type="hidden" name="RSTS_IN" value="DUMMY">
    <input type="hidden" name="assoc_term_in" value="DUMMY">
    <input type="hidden" name="CRN_IN" value="DUMMY">
    <input type="hidden" name="start_date_in" value="DUMMY">
    <input type="hidden" name="end_date_in" value="DUMMY">
    <input type="hidden" name="SUBJ" value="DUMMY">
    <input type="hidden" name="CRSE" value="DUMMY">
    <input type="hidden" name="SEC" value="DUMMY">
    <input type="hidden" name="LEVL" value="DUMMY">
    <input type="hidden" name="CRED" value="DUMMY">
    <input type="hidden" name="GMOD" value="DUMMY">
    <input type="hidden" name="TITLE" value="DUMMY">
    <input type="hidden" name="MESG" value="DUMMY">
    <input type="hidden" name="REG_BTN" value="DUMMY">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">

    <br>
    <h3>Add Classes Worksheet</h3>
    <table class="dataentrytable" summary="Add Classes Data Entry" width="100%">
    <tbody><tr>
    <td colspan="10" class="detitle" scope="colgroup"><acronym title="Course Reference Numbers">CRNs</acronym></td>
    </tr>
    <tr>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id1"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id1">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id2"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id2">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id3"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id3">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id4"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id4">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id5"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id5">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id6"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id6">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id7"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id7">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id8"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id8">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id9"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id9">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    <td class="dedefault">
    <input type="hidden" name="RSTS_IN" value="RW">
    <label for="crn_id10"><span class="fieldlabeltextinvisible">CRN</span></label>
    <input type="text" name="CRN_IN" size="6" maxlength="5" id="crn_id10">
    <input type="hidden" name="assoc_term_in" value="">
    <input type="hidden" name="start_date_in" value="">
    <input type="hidden" name="end_date_in" value="">
    <input type="hidden" name="UVM_REQ_WD_IND_IN" value="DUMMY">
    </td>
    </tr></tbody></table>
    <input type="hidden" name="regs_row" value="4">
    <input type="hidden" name="wait_row" value="0">
    <input type="hidden" name="add_row" value="10">
    
    <div class="infotextdiv"><table class="infotexttable" summary="This layout table contains information that may be helpful in understanding the content and functionality of this page.  It could be a brief set of instructions, a description of error messages, or other special information."><tbody><tr><td class="indefault"><img src="/wtlgifs/web_note.gif" alt="Note" class="headerImg" title="Note" name="web_note" hspace="0" vspace="0" border="0" height="28" width="28"></td><td class="indefault"><span class="infotext"> <b> Attention Financial Aid Recipients: By clicking submit, you acknowledge that you have reviewed your course registration, reflected above, and intend to remain enrolled in and attend all classes that you are registered for this semester. </b></span></td></tr></tbody></table><p></p></div>
    <br>
    <input type="submit" name="REG_BTN" value="Submit Changes">
    <input type="reset" value="Reset">
    <input type="submit" name="REG_BTN" value="Class Search">
    </form>
    
    <!--  ** START OF twbkwbis.P_CloseDoc **  -->
    <table class="plaintable" summary="This is table displays line separator at end of the page." width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="bgtabon" width="100%" colspan="2"><img src="/wtlgifs/web_transparent.gif" alt="Transparent Image" class="headerImg" title="Transparent Image" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td></tr></tbody></table>
    <a href="#top" onmouseover="window.status='Skip to top of page'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Skip to top of page'; return true" onblur="window.status=''; return true" class="skiplinks">Skip to top of page</a>
    </div>
    <div class="footerbeforediv">
    
    </div>
    <div class="footerlinksdiv">
    <span class="pagefooterlinks">
    <map name="Add/Drop/Withdraw_Classes:__Links_F" title="Add/Drop/Withdraw Classes:  Links">
    <p>
    <a href="#skip_Add/Drop/Withdraw_Classes:__Links_F" onmouseover="window.status='Skip Add/Drop/Withdraw Classes:  Links'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Skip Add/Drop/Withdraw Classes:  Links'; return true" onblur="window.status=''; return true" class="skiplinks">Skip Add/Drop/Withdraw Classes:  Links</a>
    </p><p>[ <a href="/pls/owa_prod/bwskoacc.P_ViewHold" onmouseover="window.status='View Holds'; return true" onmouseout="window.status=''; return true" onfocus="window.status='View Holds'; return true" onblur="window.status=''; return true">View Holds</a>
     ]
    
    
    <a name="skip_Add/Drop/Withdraw_Classes:__Links_F"></a>
    </p></map></span></div>
    <div class="footerafterdiv">
    
    </div>
    <div class="globalafterdiv">
    
    </div>
    <div class="globalfooterdiv">
    
    </div>
    <div class="pagefooterdiv">
    <span class="releasetext">Release: 8.7.2.12</span>
    </div>
    <div class="poweredbydiv">
    </div>
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="banner_copyright"> <br><h5>© 2024 Ellucian Company L.P. and its affiliates.<br></h5></div>
    
    
    </body></html>